In [1]:
import pandas as pd
from main import *

25

c:\Users\Zeus\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\Zeus\Desktop\Завдання\src\cleaning.py:70: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  clean_col['Culer'] = clean_col['Culer'].ffill()

Скрипт загружен и работает...!

In [2]:
global_table

,DateTime,"Закупівля, кВт.г","Фактичні обсяги споживання, кВт.г",Ціна РДН,Позитивний небаланс,Негативний небаланс,Culer,Date,Time,Небаланс,Додаткові витрати
0,2025-01-01 01:00:00,130695.2,136593.0358,3500.0,3325.00,6929.91,-1.299755,2025-01-01,01:00:00,5897.8358,1032.121265
1,2025-01-01 02:00:00,126162.6,133596.8034,2900.0,2755.00,6929.90,-1.529754,2025-01-01,02:00:00,7434.2034,1077.959493
2,2025-01-01 03:00:00,123128.4,129209.0204,2440.0,2318.00,6929.90,-1.599755,2025-01-01,03:00:00,6080.6204,741.835689
3,2025-01-01 04:00:00,122023.8,125728.4098,2250.0,2137.50,6929.88,-1.219755,2025-01-01,04:00:00,3704.6098,416.768602
4,2025-01-01 05:00:00,120268.6,123759.9052,1940.0,1843.00,6930.00,-0.879755,2025-01-01,05:00:00,3491.3052,338.656604
...,...,...,...,...,...,...,...,...,...,...,...
8681,2025-06-30 20:00:00,120313.0,120052.0000,8300.0,0.01,8715.00,27.260244,2025-06-30,20:00:00,-261.0000,108.315000
8682,2025-06-30 21:00:00,118828.0,118996.0000,9000.0,4.53,9450.00,26.050245,2025-06-30,21:00:00,168.0000,1511.238960
8683,2025-06-30 22:00:00,117940.0,118473.0000,9000.0,8550.00,10395.00,24.550245,2025-06-30,22:00:00,533.0000,239.850000
8684,2025-06-30 23:00:00,112300.0,110469.0000,9000.0,49.24,9450.00,23.720245,2025-06-30,23:00:00,-1831.0000,823.950000
8685,2025-06-30 00:00:00,95890.0,93345.0000,6900.0,0.01,7245.00,21.780245,2025-06-30,00:00:00,-2545.0000,878.025000